      body{
            background-image:url("/home/cse9/Desktop/20171cse0578/index.jpg");}
     #st1{
      letter-spacing:7em;color:red;}
      }
     #st2{
     font-size:16pt;line-height:125%;color:#6A7;}
      }
      #st2{
      margin-bottom:0cm;color:rgb(0%,100%,0%);
	}
      #st4{
	letter-spacing:7em;color:rgb(0,0,255);     
	}
   #st5{
	letter-spacing:10em;color:teal;    
	}
