h1,h2,h3{
color:#36c;
font-weight:normal;
letter-spacing:0em;
margin-bottom:lem;
text-transform:lowercase;
}
body
{
background-width:1000px;background-image:url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Yash_kgf_event.jpg/220px-Yash_kgf_event.jpg");
}

